<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="dns-prefetch" href="//cdn.jsdelivr.net" />
    <link
      href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/gh/jablonczay/code-box-copy/code-box-copy/css/code-box-copy.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@glorious/demo/dist/gdemo.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/@glorious/demo/dist/gdemo.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.6/dist/clipboard.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/superagent/3.8.3/superagent.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

      <style>

      </style>
  </head>
  <body>
    <div id="root"></div>

    <script type="text/babel">
      class MyCustomComponent extends React.Component {
        state = {
          show: false,
          token: "",
          imgBase64: null,
          spinner: false,
          playing: false,
          imgBase64:null,
          photo_taken:null,
          error_text:"Make sure you're enrollment is valid otherwise try another image.",
          active:1,
        };

        video = React.createRef();

        componentDidMount() {
            
        }

        play = () => {
            var video = document.getElementById('video');
            var videoSrc = 'http://localhost:8086/variant/test.m3u8';
            if (Hls.isSupported()) {
              var hls = new Hls();
              hls.loadSource(videoSrc);
              hls.attachMedia(video);
              hls.on(Hls.Events.MANIFEST_PARSED, () => {
                video.play();
              });
            }
            else if (video.canPlayType('application/vnd.apple.mpegurl')) {
              video.src = videoSrc;
              video.addEventListener('loadedmetadata', () => {
                video.play();
              });
            }
        }


        render() {
          return (
            <div>
                <button onClick={() => this.play()}>Play</button>
                <video id="video"></video>
            </div>
          );
        }
      }
      ReactDOM.render(<MyCustomComponent />, document.getElementById("root"));
    </script>
  </body>
</html>

















